.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color:  rgb(16, 16, 75);
    color: white;
}


.product-img {
    max-width: 40vw;
    max-height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.product-details {
    max-width: 40vw;
    font-size: 18px;
}
